/*

 Theme Name:   Storefront RP

 Theme URI:    http://sitename.com/storefront/

 Description:  Storefront Child Theme for Rhythmic Patterns

 Author:       eRui Design

 Author URI:   https://eruisw.com

 Template:     storefront

 Version:      1.0.0

 License:      GNU General Public License v2 or later

 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

 Tags:         light, dark, full-width, responsive-layout, accessibility-ready

 Text Domain:  storefront-child

*/

/*Theme customisations start here*/

:root{
    --rp-tertiary:rgb(31 41 55 / 1);
    --rp-primary:rgb(123 164 64 / 1);
    --rp-secondary:rgb(101 45 144 / 1);
    --rp-lightgray:rgb(171 168 168 / 1);
}

body{
    /*background: #efefef;*/
}

/* Typography */

@font-face {
	font-family: 'ReenieBeanie';
	src: url('fonts/reeniebeanie.woff2') format('woff2'),
		 url('fonts/reeniebeanie.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* Resets */

img{
    border-radius: 0;
}
.site-main{
    margin: 0 0;
}
.hentry{
    margin: 0 0;
}
.storefront-full-width-content .content-area{
    margin: 0 0;
}
.hentry .wp-post-image{
    margin: 0 0;
}
.site{
    overflow-x: unset;/* sticky nav will not work */
}

ul.products::before, ul.products::after {
    display: none;
  }

.storefront-sorting{
    margin: 1rem 0 !important;
}

.storefront-full-width-content.woocommerce-cart .entry-header, 
.storefront-full-width-content.woocommerce-checkout .entry-header,
.storefront-full-width-content.woocommerce-account .entry-header, 
.storefront-full-width-content .woocommerce-products-header {
    text-align: center;
    padding: 0 0;
}
p{
    margin-bottom: .8rem;
}
.section-content h1, 
.section-content h2{
    margin: 0 0 1rem 0;
    color: inherit;
}


/* Styles */
.button{
    border-radius: 5px;
    margin: 0 0;
    background: var(--rp-lightgray);
    color: #000;
    display: inline-block;
    text-align: center;
    transition: ease .5s;
}
.button span{
    padding: 0 1rem;
    transition: ease .5s;
}
.button:hover span{
    padding: 0 .5rem 0 1.5rem;
}



.full{
    width: 100%;
}

.inner{
    padding: 2rem !important;
}

.card{
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #efefef;
    transition: ease 1s;
}
.card-heading,
.card-body,
.card-footer{
    padding: 1rem;
}

.card-footer .button{
    width: 100%; /* too general? */
    margin-bottom: 0;
}

.card img{
    width: 100%;
    height: auto;
}

.img-placeholder{
    width: 100%;
    min-height: 200px;
    aspect-ratio: 16 / 9;
    background: #a3a3a3;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 0 2rem rgba(0,0,0,.3);
    cursor: pointer;
    z-index: 1000;
    border: 1px solid transparent;
}

.single-product div.product {
    position: relative;
    overflow: visible;
    width: 80%;
  }

.single-product div.product .summary {
    /*border: 1px solid #efefef;*/
    padding: 2rem;
    border-radius: 1rem;
}

.col-full{
    max-width:100%;
    padding: 0 0;
 }
 .onsale{
    display: none;
 }
 .upsells{
    display: none;
 }
 .wp-video{ /* embeded videos */
    padding: 1rem;
    background: #fff;
 }


 /* Single Products */
 .single-product div.product .single_variation .price, /* variant price */
 .single-product div.product p.price{ /* default price */
    font-size: 1.41575em;
  }

  .product_title{
    font-family: 'ReenieBeanie';
    font-size: 3rem;
    color: var(--rp-lightgray);
    line-height: 2.5rem;
  }

 /* Tabs */

 .storefront-full-width-content .woocommerce-tabs ul.tabs{
    width: 100%;
    display: block;
    float: none;
    border-bottom: 1px solid rgba(0,0,0,.05);
    border-top: none;
 }
 .storefront-full-width-content .woocommerce-tabs .panel{
    width: 100%;
 }

 .woocommerce-tabs {
    overflow: visible;
  }

 .woocommerce-tabs ul.tabs li a {
    padding: 1em 2em;
    display: block;
}
.woocommerce-tabs ul.tabs li:first-child{
}


.woocommerce-tabs ul.tabs li {
    display: inline-block;
    margin: 0;
    border-top: none;
    border-bottom: none;
    position: relative;
  }

 /* Listing Products */
 .page-template-template-fullwidth-php .site-main ul.products li.product, 
 .page-template-template-fullwidth-php .header-widget-region ul.products li.product, 
 .page-template-template-homepage-php .site-main ul.products li.product, 
 .page-template-template-homepage-php .header-widget-region ul.products li.product, 
 .storefront-full-width-content .site-main ul.products li.product, 
 .storefront-full-width-content .header-widget-region ul.products li.product {
    width: auto !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
}

ul.products li.product, 
ul.products .wc-block-grid__product, 
.wc-block-grid__products li.product, 
.wc-block-grid__products .wc-block-grid__product {
    margin-left: 0;
    margin-bottom: 0;
}

/* Product */

.storefront-product-pagination {
    display: none;
}

/* Header */

.storefront-breadcrumb{
    padding: 2rem 2rem 2rem 2rem;
    margin: 0 0 0 0;
}

.site-header{
    margin: 0 0;
    padding: 0 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 0 30px rgba(0,0,0,.5);
}

.site-branding-wrapper{

}
.site-header .site-branding img {
    height: auto;
    width: 320px;
    max-height: none;
    max-width: 320px;
}
.woocommerce-active .site-header .site-branding{
    width: auto;
    margin: 0 0;
}
.header-wrapper{
    display: flex;
    flex-direction: column;
}
.storefront-primary-navigation{
    display: flex;
    flex-grow: 1;
}


.main-navigation ul.menu > li.profile > a::before{
    content: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"/></svg>');
    display: inline-block !important;
    height: 20px;
    width: 20px;
    /*position: absolute;
    left: 0;
    bottom: 2rem;*/
    padding-right: 20px;
}
.main-navigation ul.menu > li.profile > a >span{
    display: none;
}
/*.main-navigation ul.menu > li.profile > a > svg{
    height: 25px;
}*/

.woocommerce-active .site-header .main-navigation{
    width: auto;
    margin: 0 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.site-header-cart{
    width: auto;
}

.site-header-cart .widget_shopping_cart, 
.site-header-cart.focus .widget_shopping_cart {
    right: 0;
    width: 300px;
    left: auto;
    display: none;
}
.site-header-cart:hover .widget_shopping_cart, 
.site-header-cart.focus .widget_shopping_cart {
    right: 0;
    width: 300px;
    left: auto;
    display: block;
}



/*  On WAM Category */

.custom-wrapper{
    display: flex;
}

.custom-wrapper .product{
    overflow: hidden;
    flex-basis: 80%;
}
.custom-wrapper .custom-sidebar{
    flex-basis: 20%;
}

.custom-wrapper.not-flex{
    display: inherit;
}

.single-product .custom-wrapper .product .images,
.storefront-full-width-content.single-product .custom-wrapper .product .images,
.single-product .custom-wrapper .product .summary,
.storefront-full-width-content.single-product .custom-wrapper .product .summary{
    width: 50%;
    margin: 0 0;
}

.categories-list{
    list-style: none;
    padding: 0;
    margin: 0;
}


/* Reviews */

.storefront-full-width-content.single-product #reviews .commentlist li .comment_container .comment-text,
#reviews .commentlist li .comment_container .comment-text{
    float: left;
    border: 1px solid #efefef;
    padding: 1rem;
    border-radius: 1rem;
}

/*** Homepage ***/

.home .col-full{
    padding: 0 0;
}

.home.blog .site-header, 
.home.page:not(.page-template-template-homepage) .site-header, 
.home.post-type-archive-product .site-header {
    margin-bottom: 0;
}

/* Sections */
.section-wrapper{
    position: relative;
    min-height: 600px;
    display: flex;
}
.section-container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}
.section-content{
    flex-basis: 32rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.section-content .button{
    background: rgb(255 255 255 / 1);
}
.section-content .button:hover{
    background: rgb(255 255 255 / 0.6);
}

.section-content .section-title{
    color: #fff;
}

.section-content h3{
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}

.section-image{
    object-fit: cover;
    min-height: 600px;
}
.wave{
    height: 100%;
    width: auto;
    fill: var(--rp-tertiary);
}
svg.wave-left{
    
}

.section-title{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--rp-tertiary);
}

.section-description {
	font-family: 'ReenieBeanie';
    font-size: 3rem;
    color: var(--rp-lightgray);
    line-height: 2.5rem;
}

/* Hero */

.hero-content{
    display: flex;
    align-items: center;
    flex-basis: 100%;
}
.hero-content > *{
    flex: 50%;
}
.home .tagline{
    color: #fff;
    font-weight: bolder;
    font-size: 3rem;
}
.home .tagline span{
    padding-right: 2rem;
}


/* About Us */
.our-story .section-container{
    flex-direction: row-reverse;
}
.our-story .section-content{
    background: var(--rp-tertiary);
}
.our-story .wave{
    fill: var(--rp-tertiary);
}
/* Curriculum - For EFL Teacher */
.curriculum .section-content{
    background: var(--rp-primary);
}
.curriculum .wave{
    fill: var(--rp-primary);
}

/* For Arts Student */
.for-arts-student .section-container{
    flex-direction: row-reverse;
}
.for-arts-student .section-content{
    background: var(--rp-secondary);
}
.for-arts-student .wave{
    fill: var(--rp-secondary);
}

/* Shop */
.shop .section-wrapper{
    background: var(--rp-tertiary);
}
.home .shop .section-container{ /* .home specifity to overide .shop Page */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    position: relative;
    margin: auto;
}
.shop .section-content{
    background: var(--rp-tertiary);
}

/*** Footer ***/
.site-footer{
    padding: 0 0;
}
.footer-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: var(--rp-primary);
    gap: 2rem;
}

/* Contact Form */
.wpcf7-form input,
.wpcf7-form textarea{
    margin-bottom: 1rem;
    border-radius: .5rem;
}


/*** Pages ***/

/* About Us */
.our-story .section-content{
    background-color: var(--rp-tertiary);
    color: #fff;
}

/* Curriculum */
.curriculum svg,
svg.flipped{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    margin-left: -0.5px;
}

/* Contact Us */
.contact .section-container{
    flex-direction: row-reverse;
}
.contact .section-content{
    background-color: var(--rp-primary);
    color: #fff;
}
.contact .entry-content{
    display: none;
}

.contact .wave{
    fill: var(--rp-primary);
}

/* For Arts Student */
.page .for-arts-student{
    
}

.products.columns-5{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: .5rem;
}

.for-arts-student .products.columns-5{
    display: flex;
    flex-direction: column;
}

/* Carousel */

.slick-list{
    margin: 0 0 0 0 !important;
}

/* Profiles */

.profiles-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
}
.card.profile{
    flex-direction: row;
}
.card.profile img{
    width: 200px;
    height: 200px;
}
.card.profile .card-body{
    flex-grow: 1;
}

/* Contact Forms */
.wpcf7-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.checkbox-wrapper{ /* instead of label */
    flex-basis: 100%;
    margin-bottom: 1rem;
    border-radius: .5rem;
    background: #f2f2f2;
    padding: .6180469716em;
}
.wpcf7-form input[type=checkbox]{
    margin-bottom: 0;
}
label.your-name,
label.your-email{
 flex-basis: 49%;
}
label.your-message{
    flex-basis: 100%;
}
.wpcf7-form input[type=text],
.wpcf7-form input[type=email],
.wpcf7-form textarea{
    width: 100%;
}

/*  My Account */
.my-account .entry-header,
.cart .entry-header,
.checkout .entry-header{
    display: none;
}


@media (min-width: 768px){
    .primary-navigation{
        display: flex;
        flex-grow: 1;
    }
    .main-navigation ul.menu, .main-navigation ul.nav-menu{
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }
    .woocommerce-active .site-header .main-navigation{
        flex-direction: row;
    }
    .header-wrapper{
        flex-direction: row;
    }

    .for-arts-student .products.columns-5{
        flex-direction: row;
    }
}